html, body {
	font-family: Arial, MS Sans Serif;
	font-size: 12px;
}
body {
	background-attachment: fixed;
	background-image: url("../img/background.jpg");
	background-position: center 0;
	background-repeat: no-repeat;
	margin: 0;
}
header {
	background-color: #171717;
}
nav, div.logo {
	width: 974px;
	margin: 0 auto;
}
nav.primary {
	color: #EEE;
	height: 2em;
	line-height: 2em;
	font-size: 1.15em;
	font-weight: bold;
	color: #CCC;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
}
nav.primary ul {
	display: inline;
	list-style: none outside none;
}
nav.primary ul li {
	float: left;
	width: auto;
	display: inline-block;
	padding: 0 1em;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
}
nav.secondary {
	color: #CCC;
	height: 2em;
	line-height: 1.75em;
}
nav.secondary a {
	color: Yellow;
	padding: 0 0.5em 0.25em 0.5em;
	text-decoration: none;
}
nav.secondary a:hover {
	color: #FFF;
	background-color: #000;
	text-decoration: underline;
}
section.main-content {
	color: #FFF;
	width: 974px;
	margin: 0 auto;
}
.active {
	color: #FFF;
	background-color: #000;
}
.slider-wrapper {
	width: 750px;
	margin: 0 auto;
}